XSD.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name ="tu">
<xs:complexType>
<xs:sequence>
<xs:element name ="employee">
<xs:complexType>
<xs:sequence>
<xs:element name="post">
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:minLength value="5"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>
<xs:element name="salary">
  <xs:simpleType>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="25000"/>
      <xs:maxInclusive value="50000"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>
<xs:element name="gender">
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:pattern value="male|female|other"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>
<xs:element name="usrename">
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:Length value="8"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>
<xs:element name="password">
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:pattern value="[Aa-Zz]{8}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>




<tu>
xmlns="https://www.w3schools.com"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
<employee>
<post>manager</post>
<salary>45000</salary>
<gender>male</gender>
<username>hari</username>
<password>9d9d</password>
</employee>
</tu>